<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>db_project</display-name>
  <servlet>
    <servlet-name>Register</servlet-name>
    <display-name>Register</display-name>
    <description>Register for User</description>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCourse</servlet-name>
    <display-name>AddCourse</display-name>
    <description>Add Course for User</description>
    <servlet-class>controller.AddCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <display-name>Login</display-name>
    <description>Login as a member</description>
    <servlet-class>controller.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>

